<div class="container">
    <div class="filter-tag d-flex flex-wrap align-items-baseline">
        <p class="label">Tìm kiếm đội thi đấu</p>
        <div class="search-bar flex-grow-1">
            <input class="form-control search-box-schedule" type="search" placeholder="Tìm kiếm..." aria-label="Search">
        </div>
        {{!-- <a href="schedule/generate" class="btn btn-success btn-schedule-generator" type="submit">Xếp lịch tự
            động</a> --}}
    </div>
    {{!-- <p>*Lưu ý: tuyệt đối không chọn lại "Xếp lịch tự động" khi hệ thống đã xếp lịch xong, để tránh lỗi database.
    </p>
    <p>Vui lòng xóa hết lịch hiện tại trước khi chọn "Xếp lịch tự động"</p> --}}

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Lịch thi đấu</h4>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã Trận đấu</th>
                        <th>Mã Đội 1</th>
                        <th>Mã đội 2</th>
                        <th>Mã Vòng đấu</th>
                        <th>Mã Sẫn đấu</th>
                        <th>Giờ bắt đầu</th>
                        <th>Ngày thi đấu</th>
                        <th>Tỷ số</th>
                        <th>Đội thắng</th>
                        {{!-- <th>Hành động</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each matches}}
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>{{this.MaTD}}</td>
                        <td>{{this.MaDB1}}</td>
                        <td>{{this.MaDB2}}</td>
                        <td>{{this.MaVD}}</td>
                        <td>{{this.MaSD}}</td>
                        <td>{{this.GioBatDau}}</td>
                        <td>{{this.NgThiDau}}</td>
                        <td>{{this.SoBanThangDB1}}-{{this.SoBanThangDB2}}</td>
                        <td>{{this.DoiThang}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/add-member.js"></script>
</div>

<script src="/js/schedule.js"></script>
<script>
    $(document).ready(function () {
        $('#sidebar-tag__home').removeClass('active');
        $('#sidebar-tag__team').removeClass('active');
        $('#sidebar-tag__schedule').addClass('active');
    });
</script>