<div class="container-fluid g-5">
    <div class="row g-5">
        <!-- Start tab -->
        <div class="start-tab col-xl-3">
            <!-- Live matches -->
            <div class="tab-container mb-5">
                <p class="start-tab__label label">Trận đấu trực tiếp</p>
                <div class="live-match__match d-flex align-items-baseline">
                    <div class="live-match__match-left text-center">
                        <img src="/img/logo1.png" alt="" class="live-match__logo live-match__match-left-logo">
                        <p class="live-match__match-left-name">ĐH NN&CN VN</p>
                    </div>
                    <div class="live-match__match-score">
                        <span class="match-score-left">2</span>
                        <span>-</span>
                        <span class="match-score-right">0</span>
                    </div>
                    <div class="live-match__match-right text-center">
                        <img src="/img/logo2.png" alt="" class="live-match__logo live-match__match-right-logo">
                        <p class="live-match__match-right-name">ĐH VH TP.HCM</p>
                    </div>
                </div>
            </div>
            <!-- /Live matches -->

            <!-- Teams -->
            <div class="tab-container mb-5">
                <p class="start-tab__label label">Các đội dẫn đầu</p>
                <div class="team-list">
                    {{#each topTeams}}
                    <div class="team-item">
                        <div class="team-item__logo d-flex justify-content-between align-items-center">
                            <img src="/img/logo1.png" alt="" class="team-item__logo-img">
                            <p class="team-item__name-text flex-grow-1">{{this.TenDB}}</p>
                            <span class="team-item__detail">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- /Teams -->

            <!-- Best players -->
            <div class="tab-container mb-5">
                <p class="start-tab__label label">Các cầu thủ xuất sắc</p>
                <div class="best-player-list">
                    {{#each topPlayers}}
                    <div class="best-player-item">
                        <div class="best-player-item__logo d-flex align-items-center">
                            <img src="/img/p1.jpg" alt="" class="best-player-item-img">
                            <p class="best-player-item__name-text flex-grow-1">{{this.TenCT}}</p>
                            <span class="team-item__detail">
                                <span class="player-score">15</span>
                                <i class="fab fa-angellist"></i>
                            </span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- /Best players -->
        </div>
        <!-- /Start tab -->

        <div class="middle-tab col-xl-6">
            <!-- <h1>Test heading 1</h1>
                    <h2>Test heading 2</h2>
                    <h3>Test heading 3</h3>
                    <h4>Test heading 4</h4>
                    <p class="subtitle">Test subtitle</p>
                    <p class="label">Test label</p> -->
            <!-- Banner -->
            <div class="banner mb-5">
                <span class="bg-deco"></span>
                <div class="banner-content">
                    <img src="" alt="" class="banner-img">
                    <h2 class="banner-title">Hội Thao </br> Hằng Năm 2021</h2>
                    <p class="label">Hơn 50 cơ sở giáo dục trên toàn quốc tham gia.</p>
                    {{#if user}}
                        <a href="/register/team">
                        <button type="button" class="btn btn-light banner-btn">Tham gia ngay<i
                                class="fas fa-arrow-right"></i></button>
                        </a>
                    {{else}}
                        <a href="/auth/login">
                            <button type="button" class="btn btn-light banner-btn">Tham gia ngay<i
                                    class="fas fa-arrow-right"></i></button>
                        </a>
                    {{/if}}
                </div>
            </div>
            <!-- /Banner -->

            <!-- Matches -->
            <!-- Filter bar -->
            <div class="filter-tag d-flex flex-wrap align-items-center">
                <p class="label">Trận đấu gần đây</p>

                <div class="search-bar">
                    <input class="form-control search-box" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                </div>
                <div class="filter-tag d-flex flex-grow-1">
                    <p>Lọc: </p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Giờ
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">7:45 AM</a></li>
                            <li><a class="dropdown-item" href="#">1:00 PM</a></li>
                            <li><a class="dropdown-item" href="#">8:30 PM</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Địa điểm
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Nhà văn hóa sinh viên</a></li>
                            <li><a class="dropdown-item" href="#">Sân vận động Mỹ Đình</a></li>
                        </ul>
                    </div>
                </div>
                <a href="" class="text-end filter-tag__view-all">Xem tất cả</a>
            </div>
            <!-- /Filter bar -->

            <!-- Matches -->
            <ul class="matches-list">
                {{#each teamArr}}
                <li class="match-item d-flex align-items-center mb-3">
                    <div class="match-item__match d-flex">
                        <div class="match-item__match-left d-flex align-items-center">
                            <img src="/img/logo1.png" alt="" class="match__logo match__match-left-logo">
                            <p class="match-item__match-left-name">{{this.team1.TenDB}}</p>
                        </div>
                        <span class="label">vs</span>
                        <div class="match-item__match-right d-flex align-items-center">
                            <img src="/img/logo2.png" alt="" class="match__logo match__match-right-logo">
                            <p class="match-item__match-right-name">{{this.team2.TenDB}}</p>
                        </div>
                    </div>
                    <div class="match-item__info d-flex flex-wrap flex-grow-1">
                        <div class="match-item__time d-flex">
                            <span><i class="fas fa-clock match-item__icon"></i></span>
                            
                            <p class="match-item__time-text">{{this.match.GioBatDau}}</p>
                        </div>
                        <div class="match-item__location d-flex">
                            <span><i class="fas fa-map-marker-alt match-item__icon"></i></span>
                            <p class="match-item__location-text align-items-center">{{this.location}}</p>
                        </div>
                    </div>
                    <span class="match-item__detail">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
                {{/each}}
            </ul>
            <!-- /Matches -->
        </div>

        <div class="end-tab col-xl-3">
            <div class="light calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker">February</span>
                    <div class="year-picker">
                        <span class="year-change" id="prev-year">
                            <pre><</pre>
                        </span>
                        <span id="year">2021</span>
                        <span class="year-change" id="next-year">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>CN</div>
                        <div>Hai</div>
                        <div>Ba</div>
                        <div>Tư</div>
                        <div>Năm</div>
                        <div>Sáu</div>
                        <div>Bảy</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>
                <div class="month-list"></div>
            </div>
        </div>
    </div>
</div>