<div class="container-fluid g-5">
            <!-- Team -->
            <!-- Team header -->
            <div>
                <div class="row">
                    {{#if teamdetails}}
                    <div class="col-xl-6 col-md-12">
                        <div class="team-tag team-banner d-flex align-items-center"
                            style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/bg-02.jpg)">
                            <div class="me-3 team-banner__logo">
                                <img src="/img/logo1.png" alt="">
                            </div>
                            <div class="team-banner__info row">
                                <p class="subtitle flex-grow-1 team-banner__team-name">Tên đội</p>
                                <p class="label team-banner__uni-name">Trường {{teamdetails.TenDB}}</p>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    {{#if teamleader}}
                    <div class="col-xl-6 col-md-12">
                        <div class="team-tag team-manager d-flex align-items-baseline">
                            <div class=" me-3 team-manager__img">
                                <img src="/img/p1.jpg" alt="">
                            </div>
                            <div class="team-manager__info row">
                                <p class="flex-grow-1 team-manager__name">
                                    <span class="label team-manager__fullname me-3">{{teamleader.TenNDK}}</span>
                                    <span class="label team-manager__role">(Trưởng đội)</span>
                                </p>
                                <p class="team-manager__contact">
                                    <span class="label team-manager__email me-3"><i
                                            class="fas fa-envelope"></i>{{teamleader.Email}}</span>
                                    <span class="label team-manager__phonenum"><i class="fas fa-phone"></i>
                                        {{teamleader.SDT}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- /Team header -->

            <!-- Team members -->
            <!-- Filter bar -->
            <div class="filter-tag d-flex flex-wrap align-items-center">
                <p class="label">Thành viên đội</p>

                <div class="search-bar">
                    <input class="form-control search-box" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                </div>
                <div class="filter-tag d-flex flex-grow-1">
                    <p>Lọc: </p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Vị trí
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Thủ môn</a></li>
                            <li><a class="dropdown-item" href="#">Hậu vệ</a></li>
                            <li><a class="dropdown-item" href="#">Tiền vệ</a></li>
                            <li><a class="dropdown-item" href="#">Tiền đạo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Filter bar -->

            <div>
                <div class="row">
                    {{#each teammembers}}
                    <div class="col-xl-6 col-md-12">
                        <div class="team-tag team-member d-flex align-items-baseline">
                            <div class=" me-3 team-member__img">
                                <img src="/img/p1.jpg" alt="">
                            </div>
                            <div class="flex-grow-1 team-member__info row">
                                <p class="team-member__name">
                                    <span class="label team-member__fullname">{{this.TenCT}}</span>
                                </p>
                                <p class="label team-member__role">
                                    <span class="team-member__role-title">{{this.ViTri}}</span>
                                    <span class="team-member__height">{{this.ChieuCaoCT}}m</span>
                                    <span class="team-member__weight">{{this.CanNangCT}}kg</span>
                                </p>
                            </div>
                            <h1 class="team-member__shirtnum">
                                {{this.SoAoCT}}
                            </h1>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- /Team members -->
            <!-- /Team -->
        </div>